{{output}}

<div id="wicket-contact-information-container"></div>
<script type="text/javascript">
    Wicket.ready(function () {
      Wicket.widgets.createPersonProfile({
        'apiRoot':"{{api_root}}",
        'accessToken':"{{access_token}}",
        'lang':"{{language}}",
        'personId':"{{person_id}}",
        'rootEl':document.getElementById('wicket-contact-information-container')
      });
    });
</script>
